{% extends 'globals/base.html' %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'documentations/css/code_of_conduct.css' %}">
  <div class="banner">
    <p>Updated on October 05, 2024</p>
  </div>
  
  <div id="main-doc">

    <h1>Code of Conduct</h1>
    <p>We are committed to creating a welcoming, inclusive, and supportive environment for everyone involved in the Fake News Detection project. This Code of Conduct outlines our expectations for all contributors and participants, as well as the consequences for unacceptable behavior.</p>

    <div class="section">
        <h2>Our Pledge</h2>
        <p>In the interest of fostering an open and welcoming environment, we pledge to make participation in our project and community a harassment-free experience for everyone, regardless of age, body size, disability, ethnicity, gender identity and expression, level of experience, nationality, personal appearance, race, religion, or sexual identity and orientation.</p>
    </div>

    <div class="section">
        <h2>Our Standards</h2>
        <p>Examples of behavior that contributes to creating a positive environment include:</p>
        <ul>
            <li>Using welcoming and inclusive language</li>
            <li>Being respectful of differing viewpoints and experiences</li>
            <li>Gracefully accepting constructive criticism</li>
            <li>Focusing on what is best for the community</li>
            <li>Showing empathy towards other members of the community</li>
        </ul>
        <p>Examples of unacceptable behavior include:</p>
        <ul>
            <li>Trolling, insulting/derogatory comments, and personal or political attacks</li>
            <li>Public or private harassment</li>
            <li>Publishing others’ private information, such as a physical or electronic address, without explicit permission</li>
            <li>Other conduct which could reasonably be considered inappropriate in a professional setting</li>
        </ul>
    </div>

    <div class="section">
        <h2>Our Responsibilities</h2>
        <p>Project maintainers are responsible for clarifying the standards of acceptable behavior and are expected to take appropriate and fair corrective action in response to any instances of unacceptable behavior.</p>
        <p>Project maintainers have the right and responsibility to remove, edit, or reject comments, commits, code, wiki edits, issues, and other contributions that are not aligned with this Code of Conduct, and to temporarily or permanently ban any contributor for other behaviors that they deem inappropriate, threatening, offensive, or harmful.</p>
    </div>

    <div class="section">
        <h2>Scope</h2>
        <p>This Code of Conduct applies both within project spaces and in public spaces when an individual is representing the project or its community. Examples of representing the project or community include using an official project email address, posting via an official social media account, or acting as an appointed representative at an online or offline event.</p>
    </div>

    <div class="section">
        <h2>Enforcement</h2>
        <p>Instances of abusive, harassing, or otherwise unacceptable behavior may be reported by contacting the project team at <a href="mailto:sakibsibly@gmail.com">Gmail</a>. All complaints will be reviewed and investigated and will result in a response that is deemed necessary and appropriate to the circumstances. The project team is obligated to maintain confidentiality with regard to the reporter of an incident.</p>
        <p>Project maintainers who do not follow or enforce the Code of Conduct in good faith may face temporary or permanent repercussions as determined by other members of the project's leadership.</p>
    </div>

    <div class="section">
        <h2>Attribution</h2>
        <p>This Code of Conduct is adapted from the <a href="https://www.contributor-covenant.org">Contributor Covenant</a>, version 2.1, available at <a href="https://www.contributor-covenant.org/version/2/1/code_of_conduct.html">https://www.contributor-covenant.org/version/2/1/code_of_conduct.html</a>.</p>
    </div>

</div>

{% endblock content %}
