{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link type="text/css" rel="stylesheet" href="{% static 'home/css/style.css' %}">
   
</head>
<body>
    <div id="preloader" style="background: #0e1e2f url({% static 'home/images/preview.gif' %}) no-repeat center center; background-size:15%;"></div>
    <div class="header">
        <div class="navbar">
            <i id="myelement" class="fa-solid fa-user" onclick="toggleMenu()"></i>
            
            
            <div class="submenu-wrap" id="subMenu">
                <div class="submenu">
                    <div class="userinfo">
                        <h2>Profile</h2>
                    </div>
                    <hr>

                    <a href="#" class="submenu-link">
                        <i class="fa-solid fa-user"></i>   
                        <p>Edit Profile</p>
                        
                    </a>

                    <a href="#" class="submenu-link">
                        <i class="fa-solid fa-question"></i>
                        <p>Help Center</p>
                        
                    </a>

                    <hr>

                    <a href="{% url 'login' %}" class="submenu-link">
                        <i class="fa-solid fa-right-to-bracket"></i>
                        <p id="signin-icon">SignIn</p>
                        
                    </a>



                </div>
            </div>
        </div>


        
    </div>


    
    <input type="checkbox" name="" id="toggle-sidebar">
    <label for="toggle-sidebar" class="toggle-icon">
        <div class="bar-top"></div>
        <div class="bar-center"></div>
        <div class="bar-bottom"></div>
    </label>

    <div class="sidebar">
        
        <ul class="menu">
            <li><a href="">History</a></li>
        </ul>
    </div>

    <div class="abus">

        <div id="main">

        <div class="area one" style = "color: black; margin-top: 80px;">
            <select style = "padding: 5px;  display: flex; align-items: center; justify-content: space-evenly;">
                <option value="English">English</option>
                <option value="Bangla">Bangla</option>
            </select>
        </div>


        <form method="post">
            {% csrf_token %}
            <div class="area two" style = "flex-direction: column; color: black;">

                <input type="hidden" name="form_type" value="check_news">

                <textarea class="box news" name="query" style = "width: 50vw; border: 1px black solid; height: 20vh; resize: none; border-radius: 10px; padding: 15px"></textarea> <!-- Use name attribute instead of id -->
                
                <button class="btn check" type="submit" style = "border: 1px black solid; border-radius: 10px" onmouseover="this.style.backgroundColor='#254f7c'; this.style.color='white'; this.style.border = '#254f7c 1px solid'"; onmouseout="this.style.backgroundColor=''; this.style.color=''; this.style.border='1px black solid';">Check News</button>

            </div>
        </form>
        <form method="post" >
            {% csrf_token %}
            <div class="area three" style = "flex-direction: column; color: black; margin-bottom:80px;">
                <!-- Render news text in viewTextarea -->
                <input type="hidden" name="form_type" value="print_report">

                <textarea class="box view" id="viewTextarea" readonly style = "width: 50vw; border: 1px black solid; height: 20vh; resize: none; border-radius: 10px; padding: 15px" onmouseover="this.style.backgroundColor='#f0f0f0';" onmouseout="this.style.backgroundColor='';">{% block text %} {% endblock text %}</textarea>

                <button class="btn print" type="submit" style = "border: 1px black solid; border-radius: 10px" onmouseover="this.style.backgroundColor='#254f7c'; this.style.color='white'; this.style.border = '#254f7c 1px solid'"; onmouseout="this.style.backgroundColor=''; this.style.color=''; this.style.border='1px black solid';">Print Report</button>

            </div>
        </form>

    </div>
    
    

    <footer class="text-gray-600 body-font my-8 bg-blue-100">

        <div class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">

          <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">

            <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">

                <img src="{% static 'home/images/fake.png' %}" alt="logo" style="width: 280px; height: 120px;">
                <span class="ml-3 text-xl">Fake News Detection</span>

            </a>


            <p class="mt-2 text-sm text-gray-500">lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

          </div>


          <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">

            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
              
              <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">CATEGORIES</h2>

              <nav class="list-none mb-10">

                <li>
                  <a class="text-gray-600 hover:text-gray-800">First Link</a>
                </li>

                <li>
                  <a class="text-gray-600 hover:text-gray-800">Second Link</a>
                </li>

                <li>
                  <a class="text-gray-600 hover:text-gray-800">Third Link</a>
                </li>

                <li>
                  <a class="text-gray-600 hover:text-gray-800">Fourth Link</a>
                </li>

              </nav>

            </div>

            <div class="lg:w-1/4 md:w-1/2 w-full px-4">

              <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">CATEGORIES</h2>

              <nav class="list-none mb-10">
                
                <li>
                  <a class="text-gray-600 hover:text-gray-800">First Link</a>
                </li>

                <li>
                  <a class="text-gray-600 hover:text-gray-800">Second Link</a>
                </li>

                <li>
                  <a class="text-gray-600 hover:text-gray-800">Third Link</a>
                </li>

                <li>
                  <a class="text-gray-600 hover:text-gray-800">Fourth Link</a>
                </li>

              </nav>

            </div>


            <div class="lg:w-1/4 md:w-1/2 w-full px-4">

              <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">CATEGORIES</h2>

              <nav class="list-none mb-10">

                <li>
                  <a class="text-gray-600 hover:text-gray-800">First Link</a>
                </li>

                <li>
                  <a class="text-gray-600 hover:text-gray-800">Second Link</a>
                </li>

                <li>
                  <a class="text-gray-600 hover:text-gray-800">Third Link</a>
                </li>

                <li>
                  <a class="text-gray-600 hover:text-gray-800">Fourth Link</a>
                </li>

              </nav>


            </div>


            <div class="lg:w-1/4 md:w-1/2 w-full px-4">

              <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">CATEGORIES</h2>

              <nav class="list-none mb-10">

                <li>
                  <a class="text-gray-600 hover:text-gray-800">First Link</a>
                </li>

                <li>
                  <a class="text-gray-600 hover:text-gray-800">Second Link</a>
                </li>

                <li>
                  <a class="text-gray-600 hover:text-gray-800">Third Link</a>
                </li>

                <li>
                  <a class="text-gray-600 hover:text-gray-800">Fourth Link</a>
                </li>

              </nav>

            </div>

          </div>

        </div>



        <div class="bg-gray-100">

          <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">

            <p class="text-gray-500 text-center sm:text-left" style="font-size: 15px;">© 2024 FakeNewsDetection -</p>

            <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">

                <a class="text-gray-500 hover:text-gray-900">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-8 h-8" viewBox="0 0 24 24">

                        <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                    </svg>
                </a>
                
                <a class="ml-3 text-gray-500 hover:text-gray-900">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-8 h-8" viewBox="0 0 24 24">
                        <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                        
                    </svg>
                </a>
                
                <a class="ml-3 text-gray-500 hover:text-gray-900">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-8 h-8" viewBox="0 0 24 24">
                        <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                        <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>

                    </svg>
                </a>


              <a class="ml-3 text-gray-500 hover:text-gray-900">
                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-8 h-8" viewBox="0 0 24 24">

                    <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>

                    <circle cx="4" cy="4" r="2" stroke="none"></circle>
                </svg>
            </a>


            </span>

          </div>
        </div>
      </footer>
 
     

    <a href="#" class="to-top">
        <i class="fa-solid fa-chevron-up"></i>
    </a>


    <script src="https://kit.fontawesome.com/33fdcea958.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>

    <script src="{% static 'home/js/index.js' %}"></script>
    
</body>
</html>