{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link type="text/css" rel="stylesheet" href="{% static 'home/css/style.css' %}">
</head>
<body>
    <div id="preloader"></div>
    <div class="header">
        <div class="navbar">
            <i id="myelement" class="fa-solid fa-user" onclick="toggleMenu()"></i>
            
            
            <div class="submenu-wrap" id="subMenu">
                <div class="submenu">
                    <div class="userinfo">
                        <h2>Profile</h2>
                    </div>
                    <hr>

                    <a href="#" class="submenu-link">
                        <i class="fa-solid fa-user"></i>   
                        <p>Edit Profile</p>
                        
                    </a>
                    <a href="#" class="submenu-link">
                        <i class="fa-solid fa-message"></i> 
                        <p>Contact us</p>
                       
                    </a>
                    <a href="#" class="submenu-link">
                        <i class="fa-solid fa-question"></i>
                        <p>Help Center</p>
                        
                    </a>

                    <hr>

                    <a href="{% url 'login' %}" class="submenu-link">
                        <i class="fa-solid fa-right-to-bracket"></i>
                        <p id="signin-icon">SignIn</p>
                        
                    </a>



                </div>
            </div>
        </div>


        
    </div>
    
    <input type="checkbox" name="" id="toggle-sidebar">
    <label for="toggle-sidebar" class="toggle-icon">
        <div class="bar-top"></div>
        <div class="bar-center"></div>
        <div class="bar-bottom"></div>
    </label>

    <div class="sidebar">
        
        <!-- <div class="profile">
            <h3>Hello Abul</h3>
        </div> -->


        <ul class="menu">
            <li><a href="">Home</a></li>
            <!-- <li><a href="about.html">About Us</a></li> -->
            <!-- <li><a href="services.html">Services</a></li> -->
            <li><a href="">Contact Us</a></li>
            <li><a href="">History</a></li>
            <li><a href="">Profile</a></li>
        </ul>
    </div>


    <div class="abus">
        <h1>Services</h1>
        <p>
            If you wish to become a software developer, you should take the Python for Beginners course.
            Python is a well-liked general-purpose programming language with applications in algorithms, 
            statistical computing, website development, and other fields. It is well-known for its ease of use 
            and accessibility, making it an excellent choice for novices. Businesses of various sizes, from 
            Fortune 500 firms to startups, use it. Education, healthcare, finance, technology, and other sectors 
            are just a few of the industries that employ Python.Python coders are in great demand, 
            and that need is expanding. Python is the most sought-after programming language worldwide, 
            claims Indeed. Furthermore, the Bureau of Labour Statistics predicts that job growth for software 
            engineers will be 22% between 2020 and 2030, which is substantially greater than the average growth 
            for all occupations. Your road towards becoming a software developer may be initiated with the Python 
            for Beginners course. Enrol today and begin studying this important programming language.
        </p>

        <h1>Topics Covered</h1>

        <p>
            The free Python course with certificate covers Python Installation, Jupyter Notebook, 
            Python Variables, Python Numbers, Python Tuples, Strings in Python, Python Dictionaries sets, 
            If else statements, Python loops, For loop in Python, While Loop, Array in Python, Functions 
            in Python, Objects and Classes, Threading in Python, Python Scripting, top 5 Python Libraries, 
            NumPy Library, Pandas Library, MatPotlib Library, Scikit Learn Library, Web Scraping using Python 
            and some Python Interview Questions. 

        </p>

        <p>
            The free Python course with certificate covers Python Installation, Jupyter Notebook, 
            Python Variables, Python Numbers, Python Tuples, Strings in Python, Python Dictionaries sets, 
            If else statements, Python loops, For loop in Python, While Loop, Array in Python, Functions 
            in Python, Objects and Classes, Threading in Python, Python Scripting, top 5 Python Libraries, 
            NumPy Library, Pandas Library, MatPotlib Library, Scikit Learn Library, Web Scraping using Python 
            and some Python Interview Questions. 

        </p>
    </div>


    <a href="#" class="to-top">
        <i class="fa-solid fa-chevron-up"></i>
    </a>


    <script src="https://kit.fontawesome.com/33fdcea958.js" crossorigin="anonymous"></script>

    <script src="{% static 'home/js/index.js' %}"></script>
    
</body>
</html>