{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link type="text/css" rel="stylesheet" href="{% static 'home/css/style.css' %}">
</head>
<body>
    <div id="preloader" style="background: #0e1e2f url({% static 'home/images/preview.gif' %});"></div>
    <div class="header">
        <div class="navbar">
            <i id="myelement" class="fa-solid fa-user" onclick="toggleMenu()"></i>
            
            
            <div class="submenu-wrap" id="subMenu">
                <div class="submenu">
                    <div class="userinfo">
                        <h2>Profile</h2>
                    </div>
                    <hr>

                    <a href="#" class="submenu-link">
                        <i class="fa-solid fa-user"></i>   
                        <p>Edit Profile</p>
                        
                    </a>
                    <a href="#" class="submenu-link">
                        <i class="fa-solid fa-message"></i> 
                        <p>Contact us</p>
                       
                    </a>
                    <a href="#" class="submenu-link">
                        <i class="fa-solid fa-question"></i>
                        <p>Help Center</p>
                        
                    </a>

                    <hr>

                    <a href="{% url 'login' %}" class="submenu-link">
                        <i class="fa-solid fa-right-to-bracket"></i>
                        <p id="signin-icon">SignIn</p>
                        
                    </a>



                </div>
            </div>
        </div>


        
    </div>
    
    <input type="checkbox" name="" id="toggle-sidebar">
    <label for="toggle-sidebar" class="toggle-icon">
        <div class="bar-top"></div>
        <div class="bar-center"></div>
        <div class="bar-bottom"></div>
    </label>

    <div class="sidebar">
        
        <!-- <div class="profile">
            <h3>Hello Abul</h3>
        </div> -->


        <ul class="menu">
            <li><a href="">Home</a></li>
            <!-- <li><a href="about.html">About Us</a></li> -->
            <!-- <li><a href="services.html">Services</a></li> -->
            <li><a href="">Contact Us</a></li>
            <li><a href="">History</a></li>
            <li><a href="">Profile</a></li>
        </ul>
    </div>


    <div id="main">

        <div class="area one">
            <select>
                <option value="English">English</option>
                <option value="Bangla">Bangla</option>
            </select>
        </div>

        <div class="area two">
            <textarea class="box news" name="query"></textarea> <!-- Use name attribute instead of id -->
            <button class="btn check" type="submit">Check News</button>
        </div>

        <div class="area three">
            <!-- Render news text in viewTextarea -->
            <textarea class="box view" id="viewTextarea" readonly>{% block text %} {% endblock %}</textarea>
            <button class="btn print" type="submit">Print Report</button>
        </div>

    </div>


    <a href="#" class="to-top">
        <i class="fa-solid fa-chevron-up"></i>
    </a>


    <script src="https://kit.fontawesome.com/33fdcea958.js" crossorigin="anonymous"></script>

    <script src="{% static 'home/js/index.js' %}"></script>
    
</body>
</html>