# Environment variables
.env

# SQLite database file
db.sqlite3

# Pycache files
FakeNewsDetection/__pycache__
create_account/__pycache__
home/__pycache__
login/__pycache__

# Migration files
create_account/migrations
home/migrations
login/migrations