# Environment variables
.env

# SQLite database file
db.sqlite3

# Pycache files
FakeNewsDetection/__pycache__
accounts/__pycache__
home/__pycache__

# Migration files
accounts/migrations
home/migrations