* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    height: 4.5rem;
    justify-content: space-between;
    font-size: 0.9rem;
}

#info {
    /* display: flex; */
    list-style-type: none;
    justify-content: space-between;
}

nav li {
    margin: 0.8rem;
}

nav a {
    /* display: block; */
    text-decoration: none;
    color: #f1fff7;
}

nav a:hover {
    color: hsl(0, 0%, 78%);
}

#meta-links {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

#account-aciton {
    list-style-type: none;
    justify-content: space-between;
}

.banner {
    background-color: hsl(0, 0%, 47%);
    color: #f1fff7;
    padding: 1rem;
    margin-bottom: 1rem;
    font: inherit;
}

footer {
    color: #f1fff7;
    display: flex;
    background-color: hsl(0, 0%, 35%);
    padding: 1rem;
    justify-content: space-between;
}

footer img {
    width: 100px;
    height: 100px;
}

footer h4 {
    margin-bottom: 1.8rem;
}

footer li {
    list-style: none;
    margin-top: 0.5rem;
}

footer a {
    text-decoration: none;
    color: #f1fff7;
}

footer a:hover {
    text-decoration: underline;
}