* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    height: 4.5rem;
    justify-content: space-between;
    font-size: 0.9rem;
}

#info {
    /* display: flex; */
    list-style-type: none;
    justify-content: space-between;
}

nav li {
    margin: 0.8rem;
}

nav a {
    /* display: block; */
    text-decoration: none;
    color: #f1fff7;
}

nav a:hover {
    color: hsl(0, 0%, 78%);
}

#meta-links {
    display: flex;
    list-style-type: none;
    text-transform: uppercase;
    justify-content: space-between;
}

#account-aciton {
    list-style-type: none;
    justify-content: space-between;
}

.banner {
    background-color: hsl(0, 0%, 47%);
    color: #f1fff7;
    padding: 1rem;
    margin-bottom: 1rem;
    font: inherit;
    font-size: 1.2rem;
}

footer {
    margin-top: 4rem;
}

.flexbar {
    color: #f1fff7;
    display: flex;
    background-color: hsl(0, 0%, 35%);
    padding: 1rem;
    justify-content: space-between;
}

.flexbar img {
    display: inline-block;
    width: 100px;
    height: 100px;
}

.flexbar h4 {
    margin-bottom: 1.8rem;
}

.flexbar li {
    list-style: none;
    margin-top: 0.5rem;
}

.flexbar a {
    text-decoration: none;
    color: #f1fff7;
}

.flexbar a:hover {
    text-decoration: underline;
}

.bottom-bar {
    background-color: hsl(0, 3%, 20%);
    color: #f1fff7;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

#system-logout button {
    background: none;
    border: none;
    color: #f1fff7;
    text-decoration: none;
    cursor: pointer;
    font: inherit;
}

#system-logout button:hover {
    color: hsl(0, 0%, 78%);
}