{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link rel="stylesheet" href="{% static 'login/css/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>
<body>

    <div class="container" style="background-image: url({% static 'login/images/background.jpg' %});">
        
        <div class="form-box">
            
        <h1>Sign in</h1>
        <div class="underline"></div>
        <form method="get" action="{% url 'home' %}" onsubmit="return signinn()">
            <div class="input-group">
                
                <div class="input-field">
                <i class="fa-solid fa-envelope"></i>
                <input type="email" id="mail" name="mail" placeholder="Email Address">
                </div>
                
                <div class="input-field">
                <i class="fa-solid fa-lock"></i>
                <input type="password" id="pass" name="pass" placeholder="Password">
                <i id="pass-icon" onclick="pass()" class="fa-solid fa-eye-slash"></i>
                </div>
            </div>
    
            <div class = "Btn-field">
                <button type="submit" class="signinbtn">Sign in</button>
            </div>
        </form>
        <div class = "not-account">
            <p>Don't have Account? 
                <a href="{% url 'create' %}"> sign up</a>
            </p>
            </div>
        </div>
    
        </div> <!-- end container -->
        <script src="{% static 'login/js/signin.js' %}" ></script>
    
</body>
</html>