.banner {
    background-color: #777;
    color: #fff;
    text-align: center;
    padding: 20px 10px;
    font-size: 1em;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}


h1 {
    color: #333;
    margin: 30px auto 30px auto; 
    font-size: 2em;
    position: relative;
    padding-bottom: 10px;
    text-align: center; 
}

h1::after {
    content: '';
    width: 50%;
    height: 3px;
    background-color: #777;
    position: absolute;
    bottom: 0;
    left: 25%;
}

.team-member, .department {
    max-width: 800px;
    margin: 25px auto; 
    padding: 25px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-member:hover, .department:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.team-member p, .department p {
    font-size: 1.2em;
    line-height: 1.6;
    margin: 10px 0;
    text-align: center;
}

.team-member p:first-child {
    margin-top: 0;
}

.department p:last-child {
    margin-bottom: 0;
}