{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
</head>

<body>
    <div class="container">
        <div class="image-container">
            <img src="{% static 'home/images/fake.png' %}" alt="Fake News">
        </div>
        
        {% block content %}
        {% endblock %}

        
    </div>
</body>

</html>
