{% extends 'globals/base.html' %}
{% load static %}

{% block content %}        
    <link rel="stylesheet" href="{% static 'accounts/css/profile.css' %}">
    <div class="banner">
        <p>Checkout Your Profile</p>
    </div>

    <div class="profile-container">
        <div class="profile-header">
            <h2>{{ user.first_name }} {{ user.last_name }}</h2>
            <p class="username">@{{ user.username }}</p>
        </div>
        <div class="profile-details">
            <p><b>Email:</b> {{ user.email }}</p>
            <p><b>Country:</b> {{ user.country }}</p>
            <p><b>City:</b> {{ user.city }}</p>
            <p><b>Account Creation Date:</b> {{ user.created_at }}</p>
        </div>
    </div>
{% endblock %}