*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0,0,0,0.4)),url('../images/background.jpg'); */
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-box{
    width: 90%;
    height: 70%;
    max-width: 450px;
    min-width: 350px;
    background: powderblue;
    padding: 55px;
    text-align: center;
    border-radius: 10px;
    box-shadow: -2px 2px 15px rgba(0,0,0,0.5);
}

.form-box h1{
    font-size: 30px;
    color: green;
}

.form-box .underline{
    width: 30px;
    height: 4px;
    background: green;
    margin: 10px auto 50px auto;
    border-radius: 5px;
}


.input-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.input-field input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.input-field i{
    margin-left: 15px;
    color: grey;
}

.Btn-field{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: -10%;
}
.Btn-field button{
    flex-basis: 100%;
    background: green;
    color: white;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0; 
    cursor: pointer;
    transition: background 1s;
}

/* .not-account button{
    flex-basis: 100%;
    background: green;
    color: white;
    height: 30px;
    width: 70px;
    border-radius: 10px;
    border: 0;
    outline: 0; 
    cursor: pointer;
    transition: background 1s;
} */

.input-group{
    height: 170px;
}

.not-account{
    margin: 10px 0;
}

#pass-icon{
    position: relative;
    right: 10px;
    cursor: pointer;
}