{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="{% static 'create/css/style_signup.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="form-box">
            <h1>Sign Up</h1>
            <div class="underline"></div>
            <form method="get" action="{% url 'login' %}" onsubmit="return signupp()">
                <div class="input-group">
                    <div class="input-field">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" id="name" name="name" placeholder="Full Name">
                    </div>

                    <div class="input-field">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" id="userName" name="userName" placeholder="User Name">
                    </div>

                    <div class="input-field">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" id="email" name="email" placeholder="Email Address">
                    </div>

                    <div class="input-field">
                        <i class="fa-regular fa-calendar"></i>
                        <input type="date" id="date" name="date" title="Date of Birth">
                    </div>

                    <div class="input-field">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" id="pass" name="pass" placeholder="Password" 
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
                        title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                        <i id="pass-icon" onclick="pass()" class="fa-solid fa-eye-slash"></i>
                    </div>
                    <!-- <p>Password Suggestions <a href="#"> Click here! </a></p> -->
                </div>

                <div id="message">
                    <h4>Password must contain the following:</h4>
                    <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                    <p id="capital" class="invalid">An <b>capital (uppercase)</b> letter</p>
                    <p id="number" class="invalid">A <b>number</b></p>
                    <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                </div>
                <div class="Btn-field">
                    <button type="submit" class="signupbtn">Sign up</button>
                </div>
            </form>
            <div class="account-has">
                <p>Already have an account? 
                    <a href="{% url 'login' %}"> sign in </a>
                </p>
            </div>
        </div>
    </div> <!-- end container -->
    <script src="{% static 'create/js/signup.js' %}"></script>
</body>
</html>