.banner {
    background-color: #777;
    color: #fff;
    text-align: center;
    padding: 20px 10px;
    font-size: 1em;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}


.profile-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-header {
    text-align: center;
    margin-bottom: 20px;
}

.profile-header h2 {
    margin: 0;
    font-size: 2em;
    color: #333;
}

.profile-header .username {
    font-size: 1.2em;
    color: #777;
}

.profile-details p {
    font-size: 1.2em;
    line-height: 1.6;
    margin: 10px 0;
}

.profile-details p b {
    color: #777;
}